// Buttons
// ---------------------------------------------------
@import "compass/css3";



//Base styles
// ---------------------------------------------------

.sg-btn{
  display: inline-block;
  line-height:1;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  color: #606266;
  appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: 500;
  user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  &:focus,
  &:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }
  &:active{
    color: #3a8ee6;
    border-color: #3a8ee6;
    outline: none;
  }

}





