// Buttons
// ---------------------------------------------------
@import "compass/css3";
@import "mixins/button";
@import "variables";


//Base styles
// ---------------------------------------------------

$btn-group-radius:4px;
.sg-btn{
  display: inline-block;
  cursor: pointer;
  appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .2s;
  font-weight: 500;
  user-select: none;
  border:1px solid transparent;
  @include button-variant(#999, transparent, transparent);
  @include button-size(10px, 20px, 14px, 1, 4px);
  &-default{
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
    &.sg-btn-outline{
      color:lighten($btn-default-bg,10%);
      &:hover{
        color: $btn-default-color;
      }
    }
    &.sg-btn-text{
      color:$btn-default-bg;
      &:hover{
        color: darken($btn-default-border,15%);
      }
    }
  }


  &-primary{
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    &.sg-btn-outline{
      color:lighten($btn-primary-bg,10%);
    }
    &.sg-btn-text{
      color:$btn-primary-bg;
      &:hover{
        color: darken($btn-primary-border,15%);
      }
    }
  }


  &-success{
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    &.sg-btn-outline{
      color:lighten($btn-success-bg,10%);
    }
    &.sg-btn-text{
      color:$btn-success-bg;
      &:hover{
        color: darken($btn-success-border,15%);
      }
    }
  }


  &-info{
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    &.sg-btn-outline{
      color:lighten($btn-info-bg,10%);
    }
    &.sg-btn-text{
      color:$btn-info-bg;
      &:hover{
        color: darken($btn-info-bg,15%);
      }
    }
  }


  &-warning{
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    &.sg-btn-outline{
      color:lighten($btn-warning-bg,10%);
    }
    &.sg-btn-text{
      color:$btn-warning-bg;
      &:hover{
        color:darken($btn-warning-border,15%);
      }
    }
  }


  &-danger{
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    &.sg-btn-outline{
      color:lighten($btn-danger-bg,10%);
    }
    &.sg-btn-text{
      color:$btn-danger-bg;
      &:hover{
        color:darken($btn-danger-border,15%);
      }
    }
  }


  &-outline{
    border-width: 1px;
    background: transparent;
    &:hover{
      color: #fff;
    }
  }


  &-loading{
    position: relative;
    pointer-events: none;
    .loading:before{
      line-height: 1;
      vertical-align: baseline;
      display:inline-block;
      animation: rotating 2s linear infinite;
      -moz-animation: rotating 2s linear infinite;/* Firefox */
      -webkit-animation: rotating 2s linear infinite; /* Safari and Chrome */
      -o-animation: rotating 2s linear infinite; /* Opera */
    }
  }

  @keyframes rotating{
    from {
      transform: rotate(0deg);
      transform-origin:center;
    }
    to {
      transform: rotate(360deg);
      transform-origin:center;
    }
  }

  @-moz-keyframes rotating{
    from {
      transform: rotate(0deg);
      transform-origin:center;
    }
    to {
      transform: rotate(360deg);
      transform-origin:center;
    }
  }

  @-webkit-keyframes rotating{
    from {
      transform: rotate(0deg);
      transform-origin:center;
    }
    to {
      transform: rotate(360deg);
      transform-origin:center;
    }
  }

  @-o-keyframes rotating{
    from {
      transform: rotate(0deg);
      transform-origin:center;
    }
    to {
      transform: rotate(360deg);
      transform-origin:center;
    }
  }




  &-text{
    border-color: transparent;
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    &:hover{
      border-color: transparent;
      background: transparent;
    }
  }

  &-lg{
    @include button-size(12px, 20px, 16px, 1, 4px);
    .sg-iconfont{
      font-size:18px;
    }
  }

  &-md{
    @include button-size(9px, 15px, 12px, 1, 4px);
    .sg-iconfont{
      font-size:14px;
    }
  }

  &-sm{
    @include button-size(6px, 10px, 12px, 1, 4px);
    .sg-iconfont{
      font-size:12px;
    }
  }


  &-radius{
    border-radius:20px;
  }


  &-group{
    font-size:0;
    .sg-btn{
      margin-right:-1px;
      border-radius:0;
    }
    .sg-btn:first-child{
      border-radius: $btn-group-radius 0 0 $btn-group-radius;
    }
    .sg-btn:last-child{
      border-radius: 0 $btn-group-radius $btn-group-radius 0;
    }

  }



}




//$btn-link-disabled-color:        $gray-light;





